{% if jobs %}
{% for job in jobs %}
    <tr>
        <td>{{ job.job_title }}</td>
        <td>{{ job.job_description }}</td>
        <td>{{ job.job_created }}</td>
        <td>{{ job.get_contract_type_display }}</td>
        <td>
            <div class="btn-group" role="group" aria-label="action-list">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-job-modal" hx-get="{% url 'edit_job' job.id %}" hx-target="#edit-job-modal-body">Edit</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete-job-modal" hx-get="/delete_job/{{ job.id }}/" hx-target="#delete-job-modal-body"><i class="bi bi-trash"></i></button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-reminder-{{job.id}}"><i class="bi bi-alarm"></i> {% if job.reminders %}<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{% with counts=job.reminders.count %}{{counts}}{% endwith %}</span>
                {% endif %}</button>
            </div> 
        </td>
    </tr>
    {% if job.reminders %}
    <tr class="collapse" id="collapse-reminder-{{job.id}}">
        <td colspan="5">
            <table>
                <thead>
                    <tr>
                        <th>Reminder Type</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reminder in job.reminders %}
                    <tr>
                        <td>{{ reminder.get_reminder_type_display }}</td>
                        <td>{{ reminder.get_reminder_status_display }}</td>
                        <td>{{ reminder.reminder_date }}</td>
                        <td>{{ reminder.reminder_description }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="action-list">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-reminder-modal" hx-get="/edit_reminder/{{ reminder.id }}/" hx-target="#edit-reminder-modal-body">Edit</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete-reminder-modal" hx-get="/delete_reminder/{{ reminder.id }}/" hx-target="#delete-reminder-modal-body"><i class="bi bi-trash"></i></button>
                            </div> 
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
    {% endif %}

{% endfor %}
{% else %}
    <tr>
        <td colspan="5">No jobs found.</td>
    </tr>
{% endif %}
