{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <hr>
              <div class="row">
                <div class="col-md-10">
                  <h5>Welcome, {{ user.username|capfirst }}</h5>
                </div>
                <div class="col-md-2">
                  <div class="row justify-content-end">
                    <div class="btn-group" role="group" aria-label="menu">
                      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add-job-modal" hx-get="/add_job/" hx-target="#add-job-modal-body">Add Job</button>
                    </div>
                  </div>
                  
                </div>
              </div>
              <hr>
              {% include 'base_app/accordion_jobs.html' %}
            </div>
        </div>
    </div>
    {% comment "Modals" %} The Modals for Add, Edit and Delete Confirm forms. {% endcomment %}
    <div class="modal fade" id="add-job-modal" tabindex="-1" aria-labelledby="#add-job-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add-job-title">Add Job</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body" id="add-job-modal-body">
            {% include 'base_app/add_job.html' %}
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit-job-modal" tabindex="-1" aria-labelledby="#edit-job-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add-job-title">Edit Job</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body" id="edit-job-modal-body">
          </div>
        </div>
      </div>
    </div>


    
{% endif %}
{% endblock content %}